.codeinput-card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.codeinput-input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #333;
  background-color: #1f1d2b;
  color: white;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.codeinput-input:focus {
  outline: none;
  border-color: #facc15;
  box-shadow: 0 0 0 3px rgba(250, 204, 21, 0.3);
}

.codeinput-input::placeholder {
  color: #ccc;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.codeinput-button {
  width: 100%;
  background-color: #facc15;
  color: #000;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.codeinput-button:hover {
  background-color: #eab308;
  transform: scale(1.02);
}

.codeinput-input:disabled {
  opacity: 0.6;
}

input[type="checkbox"].outline-red-500 {
  outline: 2px solid red;
}

/* Barra de porcentaje de códigos disponibles */
.codeinput-progress-container {
  margin-top: 1.5rem;
  width: 100%;
  text-align: left;
}

.codeinput-progress-text {
  font-size: 0.875rem;
  color: #d1d5db;
  margin-bottom: 0.25rem;
}

.codeinput-progress-bar {
  height: 12px;
  border-radius: 6px;
  background-color: #374151;
  overflow: hidden;
}

.codeinput-progress-fill {
  height: 100%;
  transition: width 0.6s ease;
}

/* Colores según nivel de uso */
.barra-verde {
  background-color: #22c55e; /* verde */
}

.barra-amarilla {
  background-color: #facc15; /* amarillo */
}

.barra-roja {
  background-color: #ef4444; /* rojo */
}

@keyframes pulso {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
  }
  50% {
    transform: scale(1.12); /* Se agranda suavemente */
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.6)); /* Brilla */
  }
}

.codeinput-logo {
  width: 120px;
  height: 120px;
  margin: 0 auto 1rem auto;
  display: block;
  object-fit: contain;
  animation: pulso 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
